<div class="overlay" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="450px" fxLayoutGap="20px">
    <img width="100%" src="/assets/images/logo-full.png">
    <mat-card fxFlex="100%">
      <h1>Reset Password</h1>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <mat-icon>info</mat-icon>
        <p>Email will be sent to the email id, which will contain a unique
            link to reset the password for your account.</p>
      </div>

      <form [formGroup]="passwordResetForm" fxLayout="column" fxLayoutAlign="center stretch" (ngSubmit)="reset()">
        <mat-input-container>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error>valid email is required</mat-error>
        </mat-input-container>

        <div fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <a routerLink="/login"> <button mat-raised-button color="accent"> Log In </button> </a>
          <a routerLink="/login"> <button mat-raised-button color="accent" type="submit"
                                          [disabled] = !passwordResetForm.valid> Send Email </button> </a>
        </div>

      </form>
    </mat-card>
  </div>
</div>
